.containerWithImg {
	height: 25rem;

	margin: 2rem 0;
	padding: 0 4.375rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 2rem;
}

.img {
	height: 29rem;
	width: 24rem;

	object-fit: cover;
	object-position: center;

	border-radius: 12px;

	flex: 1 0 auto;
}
