:root {

  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: none;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

body {
  padding: 2rem 0rem;

  background-color: rgb(211, 211, 211);
}

section {
  width: 95%;

  margin: 0 auto 3rem;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 14px;
}

h2 {
  margin-bottom: 1rem;
}
