.banner {
	width: 70%;

	margin: 0 auto;
	padding: 1.10rem 3rem;

	border-radius: 6px;

	position: relative;

	display: flex;
	flex-direction: column;

	gap: 0.5rem;
}

.statusIcon {
	position: absolute;
	inset: 1.125rem 0rem 0 1.125rem;
}

.header {
	font-size: 0.875rem;
	font-weight: 500;
}

.body {
	font-size: 0.875rem;
}
